body{
    margin: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
}

.menu-superior{
    width: 100%;
    height: 50px;
    background: #EE3556;
    display: flex;
    flex-direction: row;
}

.section-icon{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.section-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.section-login-logup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    margin-right: 10px;
    align-content: center;
    flex: 1;
}

.logo{
    width: 110px;
    height: 35px;
}

.input-search{
    width: 100%;
    height: 33px;
    padding: 12px 20px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-login{
    width: 100px;
    height: 35px;
    background: none;
    border: 1px solid #fff;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}