.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.section-card{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-top: 50px;
}

.section-card-icon{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.section-card-icon > img {
    width: 150px;
    height: 150px;
}

.section-card-content{
    flex: 3;
    display: flex;
    flex-direction: column;
}